# Google Gemini API Configuration
GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=
GEMINI_KEY=YOUR_API_KEY_HERE

# Server Configuration
SERVER_PORT=9191
